:root {
	--font-family: 'Josefin Sans', sans-serif;
	--font-family-alt: 'Yeseva One', sans-serif;

	--font-size-x-display: 5.16rem;
	--font-size-display: 4.3rem;
	--font-size-xx-large: 3.583rem;
	--font-size-x-large: 2.488rem;
	--font-size-large: 1.728rem;
	--font-size-medium: 1.44rem;
	--font-size: 1.05rem;
	--font-size-small: 0.833rem;
	--font-size-x-small: 0.694rem;
	--font-size-xx-small: 0.579rem;
	--lineheight-text: 1.55;
	--lineheight-short: 1.2;

	--color-background: #f1ece9;
	--color-accent-f: #f6bd60;
	--color-accent-s: #84a59d;
	--color-accent-t: #f28482;
	--color-background-selection: #f9eaf0;
	--color-border: #9facdf;
	--color-text-default: #f2e9e4;
	--color-text-default-dark: #010111;
	--color-text-link: var(--color-text-default);
	--color-text-link-active: var(--color-text-default);
	--color-text-link-focus: var(--color-text-default);
	--color-text-link-hover: var(--color-text-default);
	--color-text-link-visited: var(--color-text-default);

	--color-button-default: var(--color-text-default);
	--color-button-border: var(--color-text-default);
	--color-button-text: var(--color-text-default);

	--header-padding: 1rem 0;
	--content-padding: 0.2rem 0rem 1rem 0rem;
	--border-color: #e4e4e7;
	--title: var(--font-size-x-large);
	--content: var(--font-size-large);
	--icon-size: var(--font-size-x-large);
	--primary-color: #c8dc71;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	background-color: var(--color-background);
	color: var(--color-text-default);
}

a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol,
ul {
	list-style: none;
}

.header {
	height: 100vh;
	background-image: url('../../dist/img/headerBackground\ (3).jpg');
	background-size: cover;
	text-align: center;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem;

		.nav-logo {
			color: var(--color-text-default);
			font-size: var(--font-size-x-large);
		}

		.nav-logo:visited {
			color: var(--color-text-default);
		}

		.nav-menu {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.nav-item {
				margin-left: 5rem;

				.nav-link {
					color: var(--color-text-default);
					font-size: var(--font-size-large);
				}
				.nav-link:visited {
					color: var(--color-text-link);
				}
			}
		}
	}

	.header-title {
		height: 85vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			font-size: var(--font-size-x-display);
		}

		p {
			font-size: var(--font-size-large);
			margin: 2vh 0;
		}

		a {
			button {
				padding: 0.5em 1em;
				background-color: transparent;
				border: 1px solid var(--color-text-default);
				border-radius: 50px;
				color: var(--color-text-default);
				font-size: var(--font-size-large);
			}
		}
	}

	.button-down {
		a {
			button {
				padding: 0.5em;
				background-color: transparent;
				border: 1px solid var(--color-text-default);
				border-radius: 50px;
				color: var(--color-text-default);
				i {
					font-size: var(--font-size-x-large);
				}
			}
		}
	}
}

main {
	.products {
		height: 100vh;

		&--card {
			height: 33.3%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			a {
				button {
					padding: 0.5em;
					background-color: transparent;
					border: 1px solid var(--color-text-default);
					border-radius: 50px;
					color: var(--color-text-default);
					i {
						font-size: var(--font-size-x-large);
					}
				}
			}

			p {
				text-align: center;
				padding: 2em;
				font-size: var(--font-size-display);
			}

			&__one {
				background-image: url('../../dist/img/candleSmall.jpg');
				background-size: cover;
				background-position: center;
			}

			&__two {
				background-image: url('../../dist/img/ceramicsSmall.jpg');
				background-size: cover;
				background-position: top;
			}

			&__three {
				background-image: url('../../dist/img/artSmall.jpg');
				background-size: cover;
				background-position: center;
			}
		}
	}
}

.hamburger {
	display: none;

	.bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: var(--color-text-default);
	}
}
// CAROUSEL //
.carousel {
	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		margin-top: 2vh;
		h2 {
			text-transform: uppercase;
			color: var(--color-accent-t);
			font-size: var(--font-size-x-display);
		}
		.line {
			display: none;
			height: 10%;
			width: 30%;
			background-color: var(--color-accent-t);
			p {
				font-size: 1px;
				color: var(--color-accent-t);
			}
		}
	}
	p {
		text-align: center;
		color: var(--color-text-default-dark);
		font-size: var(--font-size-large);
	}
}
#cCarousel {
	position: relative;
	max-width: 1400px;
	margin: auto;
}

#cCarousel .arrow {
	position: absolute;
	top: 50%;
	display: flex;
	width: 45px;
	height: 45px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	z-index: 1;
	font-size: var(--font-size-x-large);
	color: var(--color-text-default-dark);
	border: 1px solid var(--color-text-default-dark);
	cursor: pointer;
}

#cCarousel #prev {
	left: 0px;
}

#cCarousel #next {
	right: 10px;
}

#carousel-vp {
	width: 1300px;
	height: 400px;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin: auto;
}
.info-box {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	gap: 10px;
	width: 95%;
	h3 {
		font-size: var(--font-size-large);
	}
	.tag-box {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		p {
			font-size: var(--font-size-medium);
			padding: 5px;
		}
		.p--tag__c {
			background-color: var(--color-accent-f);
		}
		.p--tag__n {
			background-color: var(--color-accent-t);
		}
		.p--tag__p {
			background-color: var(--color-accent-s);
		}
	}
	.price-box {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		p {
			font-size: var(--font-size-x-large);
			padding: 5px;
		}
	}
}

@media (max-width: 1200px) {
	#carousel-vp {
		width: 510px;
	}
	#cCarousel #prev {
		left: 120px;
	}

	#cCarousel #next {
		right: 120px;
	}
}
@media (max-width: 770px) {
	#carousel-vp {
		width: 510px;
	}
	#cCarousel #prev {
		left: 50px;
	}

	#cCarousel #next {
		right: 50px;
	}
}

@media (max-width: 510px) {
	#carousel-vp {
		width: 250px;
	}
	#cCarousel #prev {
		left: 20px;
	}

	#cCarousel #next {
		right: 20px;
	}
}
@media (max-width: 380px) {
	#carousel-vp {
		width: 250px;
	}
	#cCarousel #prev {
		left: 10px;
	}

	#cCarousel #next {
		right: 10px;
	}
}

#cCarousel #cCarousel-inner {
	display: flex;
	position: absolute;
	transition: 0.3s ease-in-out;
	gap: 10px;
	left: 0px;
}

.cCarousel-item {
	width: 250px;
	height: 365px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.cCarousel-item img {
	width: 100%;
	object-fit: cover;
	min-height: 246px;
	color: white;
}

.cCarousel-item .infos {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
}

.cCarousel-item .infos button {
	background-color: transparent;
	border: 1px solid var(--color-text-default-dark);
	padding: 8px;
	border-radius: 25px;
	font-size: var(--font-size-large);
	cursor: pointer;
}

// ABOUT US //

.about_us {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 50vh;
	.about_us--left {
		width: 100%;
		height: 60%;
		background-image: url('../../dist/img/aboutUsSmall.jpg');
		background-position: center;
		background-size: cover;
	}
	.about_us--right {
		padding-top: 2vh;
		width: 90%;
		height: 100%;
		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 20%;
			h2 {
				text-transform: uppercase;
				font-size: var(--font-size-display);
				color: var(--color-text-default-dark);
			}
			.line {
				height: 15%;
				width: 30%;
				background-color: var(--color-accent-t);
			}
		}
		p {
			font-size: var(--font-size-medium);
			text-align: center;
			color: var(--color-text-default-dark);
		}
		.social-icons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 10%;
			margin-top: 2vh;
			font-size: var(--font-size-x-large);
			text-align: left;
			color: var(--color-text-default-dark);
			.fa-brands:hover {
				color: var(--color-accent-t);
			}
			.line {
				height: 30%;
				width: 30%;
				background-color: var(--color-accent-t);
			}
		}
	}
}
// FAQ //
.faq {
	h2 {
		font-size: var(--font-size-display);
	}
	color: rgb(39, 43, 51);
	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;
	margin: 5vh 0;
}
.accordion-container {
	max-width: 1200px;
	width: 100%;
}

details {
	font-size: var(--title);
	margin: 0 auto;
	width: 100%;
	position: relative;
	border-bottom: 1px solid var(--border-color);
	transition: all 0.3s ease-in-out;

	&:hover {
		opacity: 1;
	}
}

summary {
	user-select: none;
	cursor: pointer;
	list-style: none;
	display: flex;
	align-items: center;
	padding: var(--header-padding);

	&:hover {
		text-decoration: underline;

		& .title {
			opacity: 1;
		}

		& .accordion-icon {
			opacity: 1;
		}
	}
}

.accordion-title {
	color: #151518;
	width: 90%;
	font-weight: 500;
	transition: all 250ms ease-in-out;
}

.accordion-icon {
	opacity: 0.5;
	pointer-events: none;
	position: absolute;
	right: 1rem;
	transition: all 150ms ease-out;

	svg {
		width: var(--icon-size);
		height: var(--icon-size);
		transition: transform 0.3s ease-in-out;
	}
}

.accordion-content {
	color: #3c3e47;
	padding: var(--content-padding);
	font-size: var(--content);
	font-weight: 400;
	line-height: 1.65;
}

/** Remove Marker */
summary::-webkit-details-marker {
	display: none;
}

/** Rotate Icon */
details[open] .accordion-icon svg {
	transform: rotate(180deg);
}

//MEDIA QUERIES//
@media (min-width: 769px) and (max-width: 1199px) {
	.header {
		background-image: url(../../dist/img/headerBackgroundLarge.jpg);
	}
}

@media (min-width: 1200px) {
	.carousel {
		.title {
			justify-content: space-between;
			width: 92.5%;
			margin: 2vh 5vh 0 5vh;
			h2 {
				color: var(--color-text-default-dark);
				font-size: var(--font-size-x-display);
			}
			.line {
				display: block;
				height: 10%;
				width: 60%;
				background-color: var(--color-accent-t);
				p {
					font-size: 10px;
					color: var(--color-accent-t);
				}
			}
		}
		p {
			text-align: center;
			font-size: var(--font-size-x-large);
		}
	}
	.header {
		background-image: url(../../dist/img/headerBackgroundLarge.jpg);

		.header-title {
			height: 85vh;

			h1 {
				font-size: var(--font-size-x-display);
			}

			p {
				font-size: var(--font-size-x-large);
			}
		}
	}

	main {
		.products {
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;

			&--card {
				height: 70vh;
				width: 33.4%;
			}

			p {
				padding: 5em;
			}
		}
	}
	.about_us {
		flex-direction: row;
		height: 50vh;
		.about_us--left {
			width: 50%;
			height: 100%;
			background-image: url('../../dist/img/aboutUsLarge.jpg');
			background-position: center;
			background-size: cover;
		}
		.about_us--right {
			width: 50%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			p {
				height: 70%;
				margin: 0 25%;
				font-size: var(--font-size-large);
				text-align: left;
				color: var(--color-text-default-dark);
			}
			.title {
				width: 50%;
				margin: 0 0 0 25%;
				h2 {
					font-size: var(--font-size-x-display);
				}
			}
			.social-icons {
				width: 50%;
				margin: 0 25%;
			}
		}
	}
}

@media (max-width: 576px) {
	.header {
		.header-title {
			height: 75vh;
		}
	}

	main {
		.products {
			p {
				padding: 1em;
			}
		}
	}
	.faq {
		h2 {
			font-size: var(--font-size-x-large);
			width: 90%;
		}
		.accordion-container {
			width: 90%;
		}
	}
}

@media only screen and (max-width: 768px) {
	.header {
		background-image: url('../../dist/img/headerBackgroundSmall.jpg');
		background-size: cover;
	}

	.nav-menu {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
	}

	.nav-menu.active {
		left: 0;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;

		&.active .bar:nth-child(2) {
			opacity: 0;
		}

		&.active .bar:nth-child(1) {
			-webkit-transform: translateY(8px) rotate(45deg);
			transform: translateY(8px) rotate(45deg);
		}

		&.active .bar:nth-child(3) {
			-webkit-transform: translateY(-8px) rotate(-45deg);
			transform: translateY(-8px) rotate(-45deg);
		}
	}
}
